*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
}
 
:root{
        --text-color: #e0e0e0;
        --border: #272727;
        --background:#141414;
        --background2:rgba(20, 20, 20, 0.95);
        --content:#1a1a1a;
        --shadow:#000000;
        --shadow2:rgba(0, 0, 0, 0.25);
        --box-shadow: 0 0.1rem 1rem var(--shadow);
        --box-shadow2:0 5px 15px var(--shadow);
        --active: #035ca0;
        --inset-shadow: inset 0 0 10px var(--shadow);
        --color-vnr:#0d5846;
        --hover:#003329;
        --fira-sans: 'Russo One', sans-serif;
}

body{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
}

main{
    max-width:1250px;
    width: 100vw;
    height: 650px;
    border: 2px solid transparent;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: var(--background);
    border: 3px solid #000000;
}

.aside{
    background-color: var(--content);
    width:17.8%;
    height: 100%;
    font-size: 14px;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 5px 0 5px -5px var(--shadow);
}

.aside .sidebar{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.aside .sidebar a{
    display: flex;
    align-items: center;
    height: 3.2rem;
    gap: 1rem;
    position: relative;
    color: var(--text-color);
    margin-left: .5rem;
    transition: all 0.6s ease;
    cursor: pointer;
}

.aside .sidebar a::before{
    content:"";
    width: 4px;
    height: 99%;
    border-radius: 1em;
}

.aside .sidebar span{
    transition: all 0.6s ease;
}
.aside .sidebar a:hover{
    background-color: var(--background);
}

.aside .sidebar a:hover span{
    margin-left: .4rem;
    transition: all .4s ease;
}

.aside .sidebar a.active span {
    margin-left: .4rem;
}

.aside .sidebar a.active{
    color: var(--color-vnr);
    background-color: var(--background);
}

.aside .sidebar a.active::before{
    content:"";
    width: 4px;
    height: 99%;
    background-color: var(--hover);
    border-radius: 1em;
}
/* until now */

/* header section */
.container{
    position:absolute;
    margin-left:17.8%;
    top: 0;
    width: 82.2%;
    height: 98.7%;
    border-radius: 0 1rem 1rem 0;
}

.name{
    position: relative;
    height: 5rem;
    box-shadow: 0 4px 2px -2px var(--shadow); 
    background-color: var(--content);  
    border-radius: 0 1rem 0 0; 
    padding: .5rem;
    display: flex;
}

.name > h2{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 1.1rem;
}

/* overview section */

.overview{
    padding: 1rem;
    display: block;
}

.overview-cont{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.m-view{
    max-width: 27rem;
    width: 100%;
    height: 10rem;
    background-color: var(--content);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    display: block;
}

.overview-cont .m-view{
    padding: .5rem;
    text-align: center;
}
.overview-cont .m-view h3{
    margin-bottom: 1rem;
}

.m-view .view > h4{
   margin-bottom: 2rem;
}
.m-view .view .m-buttons{
    margin-bottom: 10px;
    gap: 4rem;
    justify-content: center;
}

.m-view .view .m-buttons .inputs{
    display: flex;
    margin-bottom: 10px;
    gap: 4rem;
    justify-content: center;
}

.m-view .view .m-buttons input{
    width: 10rem;
    transition: all 0.6s ease;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--border);
}

.m-view .view .m-buttons input:hover{
    background: linear-gradient(45deg, rgba(11, 141, 109, 0.829) 0%, rgba(255, 6, 66, 0) 100%);
    border: 2px solid #117e63ce;
    transition: all 0.6s ease;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input {
    border: 2px solid var(--border);
    outline: none!important;
    padding: .6rem;
    background-color: var(--background);
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}

input[type=number]:focus{
    border: 2px solid var(--text-color);
}

.overview .log{
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: var(--content);
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 5rem;
    height: 18rem;
}

.m-log{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background);
    height: 2rem;
}

.m-log .G2134{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: .2rem;
    font-size: .8rem ;
}

.log .log-container{
    width: 100%;
    height: 18rem;
    overflow: auto;
}

.log-container .log-con{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    height: 3rem;
}

.log-container .log-con:nth-child(even){
    background-color: var(--background);
}

.log-con .log-data{
    gap: .5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3rem;
    font-size: .8rem;
}

.log-con .log-data span{
    font-size: 1.1rem;
}

#icon {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 33px;
    margin-top: 10px;
}

#bmiImg {
    max-width: 720px;
    width: 80%;
}

.bmi-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1000px){
    #icon {
        width: 100px;
    }
}

@media screen and (max-width: 750px){
    #icon {
        width: 50px;
    }
}

@media screen and (max-width: 520px){
    .m-view .view .m-buttons .inputs {
        gap: 1px;
    }
}

@media screen and (max-width: 480px){
    #icon {
        width: 0px;
    }

    .m-view .view .m-buttons .inputs {
        flex-direction: column;
        align-items: center;
    }

    .m-view .view .m-buttons .inputs input[type=number] {
        height: 30px;
    }

    #calc {
        padding: 0;
        height: 30px;
    }
    .log-con .log-data {
        padding-left: 15px;
    }
}